[submodule "libsimplegba"]
	path = lib/libsimplegba
	url = https://github.com/Vulcalien/libsimplegba.git
[submodule "convert-resources-gba"]
	path = tools/external/convert-resources
	url = https://github.com/Vulcalien/convert-resources-gba.git
